<%= javascript_include_tag 'settings.js' %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-title">Settings</h1>
  </div>
</div>
<table class="settings-table table table-striped">
<thead>
  <tr>
    <th>Setting</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>User API Token</td>
    <td><%= @user_token %></td>
  </tr>
  <tr>
    <td>Node API Key</td>
    <td><%= @node_key %></td>
  </tr>
  </tbody>
</table> 