/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$action-primary: #f37025; 						// this is the orange color for links and buttons
$action-primary-hover: #f4803d; 			// lighten($action-primary, 10%)
$action-primary-active: #f1600d; 			// darken($action-primary, 5%)

$action-alternative: #3299bb; 				// this is the blue color for links and buttons
$action-alternative-hover: #50b0d0; 	// lighten($action-alternative, 10%)
$action-alternative-active: #2d89a7; 	// darken($action-alternative, 5%)

$text-dark: #424242;
$accent-gray: #bcbcbc;
$accent-gray-2: #e9e9e9;
$success-green: #53bd5e;
$warning-red: #d04b33;

$transition-time: .2s;

$text-size: 16px;

@import "global";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "normalize";
@import "bootstrap.min";
@import "compass/css3";

@import "compass/css3";

@import "normalize";

@import "base";