@charset "utf-8";

.nav-menu {
	border-bottom: 1px solid whitesmoke;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.logo {
	padding-left: 1em;
	max-width: 167px;
}

.nav-link {
	padding-left: 2em;
}